.box{
  height: 200px;
  width: 200px;
  overflow: auto;
  background: red;
}

.products--grid{
  display: flex;
  flex-direction: column;
  div{
    img{
      width: 100%;
      border-radius: 10px;
    }
    h2, p {
      margin: 0;
    }
  }
}

.message-error{
  background: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
  &.invalido{
    opacity: 1;
  }
}

.inline-error{
  height: 0;
  border-bottom: 1px solid;
  &.invalid{
    border-color: red;
  }
  &.valid{
    border-color: green;
  }
}

.styles{
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
}

.divFrm{
  display: grid;
  grid-template-columns: repeat(1, 1fr) ;
  border-radius: 2px;
  width: 500px;
  background: #BC83F5;
  text-align: center;
}

.mensage-error{
  color: red;
  opacity: 0;
  transition: all linear 0.5s;
  &.invalido{
    opacity: 1;
  }
}

.divLogin{
  display: grid;
  grid-template-columns: repeat(1, 1fr) ;
  border-radius: 2px;
  width: 500px;
  background: white;
  text-align: center;
}

.btnBtn{
  background: green;
  color: white;
}

.btnCancel{
  background:white;
  color: black;
}


@media screen and (min-width: 40em ) {
  .products--grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}


