<!--- Uso de *ngFor  CLASE 12  --->
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <span *ngIf="names.length === 0">Lista vacia. No hay nombres</span>
  <li *ngFor="let name of names; index as i">
    {{i+1}}._ {{name}}
    <button (click)="deleteName(i)">Delete!</button>
  </li>
</ul>

<h6>Mi lista de útiles escolares</h6>
<input type="text" required [(ngModel)]="newUtil">
<button (click)="addUtil()">Agregar útil</button>
<ul>
  <span *ngIf="utilesEscolares.length === 0">Lista vacía</span>
  <li *ngFor="let util of utilesEscolares; index as i">
    {{i+1}}._ {{util}}
    <button (click)="deleteUtil(i)">Delete!</button>
  </li>
</ul>
<hr/>

<!--- Uso de *ngIf  CLASE 11  --->
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" ><br>
<p *ngIf="person.name === 'Nicolas' ">Soy Nicolás</p>
<p *ngIf="person.name === 'carolina' && person.age === 18; else elseBlock">Soy Carolina</p>
<ng-template #elseBlock >
  <p>Bloque de else</p>
</ng-template>
<hr/>

<!--- Data binding con ngModel  CLASE 10  --->
<h1>Ng Model</h1>
<p>Nombre {{ person.name }} </p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" ><br>
<p>Valid: {{ nameInput.valid }}</p>
<p>Age {{ person.age }} </p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" ><br>
<p>Valid: {{ ageInput.valid }}</p>
<hr/>

<!--- Event Binding  CLASE 8-9  --->
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()" >Toggle Button</button>
<p>Edad {{ person.age }} </p>
<button (click)="increaseAge()" >Age ++</button>

<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptatibus sed explicabo aspernatur aliquam dolorem doloribus maiores officia tenetur quae, inventore animi modi deserunt voluptatum quisquam nobis, esse molestiae nulla.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptatibus sed explicabo aspernatur aliquam dolorem doloribus maiores officia tenetur quae, inventore animi modi deserunt voluptatum quisquam nobis, esse molestiae nulla.
  </p>
</div>

<div>
  <p>Nombre {{ person.name }} </p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"><br>
</div>
<hr/>

<!--- Property Binding  CLASE 7  --->
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name"><br>
<progress max="100" [value]="person.age"></progress><br>
<img width="100" [src]="person.avatar" >
<hr/>

<!--- String interpolation CLASE 6  --->
<h1>Hola mundo</h1>
<h2>{{ 'Hola mundo'.repeat(5) }}</h2>
<p> 3+3 = {{ 3 + 3 }}</p>
<h3> Hola soy {{ name }} y tengo {{ age }} </h3>
<img src={{img}} alt="Imagen" >
