<!--- NCrear un formulario  CLASE 19  --->
<div class="divLogin  ">
  <h1>Login</h1>
  <form (ngSubmit)="onRegister()" #myFormLogin="ngForm">
    <div class="input-group">
      <label for="emailLogin">Email</label>
      <input type="email" required name="emailLogin" id="emailLogin" #input_emailLogin="ngModel" [(ngModel)]="registerLogin.email">
      <p class="mensage-error" [class.invalido]="input_emailLogin.invalid">
        Campo requerido
      </p>
    </div>

    <div class="input-group">
      <label for="passwordLogin">Password</label>
      <input type="passwordLogin"  required name="passwordLogin" id="passwordLogin" #input_passLogin="ngModel" [(ngModel)]="registerLogin.password">
      <p class="mensage-error" [class.invalido]="input_passLogin.invalid">
        Campo requerido
      </p>
    </div>

    <button class="btnBtn" [disabled]="myFormLogin.invalid" type="submit">Log in</button><br>
    <button class="btnCancel" type="button">Sign up</button>
  </form>
</div>
<hr/>


<div class="divFrm">
  <h1>Formulario</h1>
  <form (ngSubmit)="onRegister()" #myForm="ngForm">
    <div class="input-group">
      <label for="name">Nombre</label>
      <input type="text" required name="name" id="name" #input_name="ngModel" [(ngModel)]="register.name">
      <p class="mensage-error" [class.invalido]="input_name.invalid">
        Campo requerido
      </p>
    </div>

    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" required name="email" id="email" #input_email="ngModel" [(ngModel)]="register.email">
      <p class="mensage-error" [class.invalido]="input_email.invalid">
        Campo requerido
      </p>
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input type="password"  required name="password" id="password" #input_pass="ngModel" [(ngModel)]="register.password">
      <p class="mensage-error" [class.invalido]="input_pass.invalid">
        Campo requerido
      </p>
    </div>

    <button class="btnBtn" [disabled]="myForm.invalid" type="submit">Registrar</button>
    <button class="btnCancel" type="button">Acción</button>
  </form>
</div>
<hr/>

<!--- NgClass and NgStyle  CLASE 18  --->
<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" ><br>
<hr class="inline-error"
    [ngClass]="{
      'valid': nameInput4.valid,
      'invalid': nameInput4.invalid
    }"
    />
<p class="message-error" [class.invalido]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>

  <div [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        'display': 'block'
        }">
  </div>
</div>
<hr/>

<!--- Class and style  CLASE 17  --->
<h1>Class and style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" ><br>
<p class="message-error" [class.invalido]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre:</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" ><br>
<p [style.font-style]="nameInput3.invalid ? 'Italic' : 'normal' ">Texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.%]="widthImg" [src]="person.avatar">
  </div>
</div>
<hr/>

<!--- Estilos a la lista de productos  CLASE 16  --->
<h1>*ngFor Objs/arrays</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" [alt]="product.name">
    <p> Nombre: {{product.name}}</p>
    <p>Precio: ${{product.price}}.00</p>
  </div>
</div>
<hr/>

<!--- Uso de *ngSwitch  CLASE 14  --->
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" ><br>
<div [ngSwitch]="person.name">
    <p *ngSwitchCase=" 'Nicolas' ">
      La persona es Nicolás
    </p>
    <p *ngSwitchCase=" 'Julian' ">
      La persona es Julian
    </p>
    <p *ngSwitchCase="'Camilo' ">
      La persona es Camilo
    </p>
    <p *ngSwitchDefault>
      No hace match.
    </p>
</div>
<!-- <p *ngIf="person.name === 'Nicolas' ">
  La persona es Nicolás
</p>

<p *ngIf="person.name === 'Julian' ">
  La persona es Julian
</p>

<p *ngIf="person.name === 'Camilo' ">
  La persona es Camilo
</p> -->
<hr/>

<!--- Uso de *ngFor Objs  CLASE 13  --->
<h1>*ngFor Objs/arrays</h1>
<div>
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" [alt]="product.name">
    <p> Nombre: {{product.name}}</p>
    <p>Precio: ${{product.price}}.00</p>
  </div>
</div>
<hr/>

<!--- Uso de *ngFor  CLASE 12  --->
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <span *ngIf="names.length === 0">Lista vacia. No hay nombres</span>
  <li *ngFor="let name of names; index as i">
    {{i+1}}._ {{name}}
    <button (click)="deleteName(i)">Delete!</button>
  </li>
</ul>

<h6>Mi lista de útiles escolares</h6>
<input type="text" required [(ngModel)]="newUtil">
<button (click)="addUtil()">Agregar útil</button>
<ul>
  <span *ngIf="utilesEscolares.length === 0">Lista vacía</span>
  <li *ngFor="let util of utilesEscolares; index as i">
    {{i+1}}._ {{util}}
    <button (click)="deleteUtil(i)">Delete!</button>
  </li>
</ul>
<hr/>

<!--- Uso de *ngIf  CLASE 11  --->
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" ><br>
<p *ngIf="person.name === 'Nicolas' ">Soy Nicolás</p>
<p *ngIf="person.name === 'carolina' && person.age === 18; else elseBlock">Soy Carolina</p>
<ng-template #elseBlock >
  <p>Bloque de else</p>
</ng-template>
<hr/>

<!--- Data binding con ngModel  CLASE 10  --->
<h1>Ng Model</h1>
<p>Nombre {{ person.name }} </p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" ><br>
<p>Valid: {{ nameInput.valid }}</p>
<p>Age {{ person.age }} </p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" ><br>
<p>Valid: {{ ageInput.valid }}</p>
<hr/>

<!--- Event Binding  CLASE 8-9  --->
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()" >Toggle Button</button>
<p>Edad {{ person.age }} </p>
<button (click)="increaseAge()" >Age ++</button>

<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptatibus sed explicabo aspernatur aliquam dolorem doloribus maiores officia tenetur quae, inventore animi modi deserunt voluptatum quisquam nobis, esse molestiae nulla.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptatibus sed explicabo aspernatur aliquam dolorem doloribus maiores officia tenetur quae, inventore animi modi deserunt voluptatum quisquam nobis, esse molestiae nulla.
  </p>
</div>

<div>
  <p>Nombre {{ person.name }} </p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"><br>
</div>
<hr/>

<!--- Property Binding  CLASE 7  --->
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name"><br>
<progress max="100" [value]="person.age"></progress><br>
<img width="100" [src]="person.avatar" >
<hr/>

<!--- String interpolation CLASE 6  --->
<h1>Hola mundo</h1>
<h2>{{ 'Hola mundo'.repeat(5) }}</h2>
<p> 3+3 = {{ 3 + 3 }}</p>
<h3> Hola soy {{ name }} y tengo {{ age }} </h3>
<img width="200" src={{img}} alt="Imagen" >
